# ============== 选择模型 =================
Model_NAME = "deepseek-v4-pro"
# ============== API配置 =================
API_KEY = "your_api_key_here"
# ============== base URL =================
BASE_URL = "https://api.deepseek.com"